= simple_form_for model do |f|

  .row.mb-2
    .col-sm-8
      - if model.errors.any?
        .alert.alert-danger
          #{model.errors.full_messages.join(', ')}


      =f.input :tenant_id, as: :hidden
      =f.input :assignee_id, as: :hidden

      - if model.new_record?
        -# =f.input :client_id, as: :select, collection: current_user.active_tenant.clients
        =f.input :client_id, as: :select, collection: current_user.active_tenant.clients, include_blank: false
        =f.input :requestor_id, as: :select, collection: []

      - else
        =f.input :requestor_id, as: :hidden
        =f.input :client_id, as: :hidden

      =f.input :date_from, as: :string, input_html:{class:'datepicker'}
      =f.input :date_to, as: :string, input_html:{class:'datepicker'}
      =f.input :address
      =f.input :city
      =f.input :state, collection: states
      =f.input :reason, collection: reason_select, include_blank: false
      =f.input :job_identifier
      =f.input :number_of_rooms, as: :select, collection: (1..10).to_a, include_blank: false
      =f.input :customer_id, as: :select, collection: customer_select_for_client(f.object.client)

      #new_customer_data
        =f.input :new_customer_name

    .col-sm-4
      = f.fields_for :booking_request_rooms do |booking_request_room|
        = render 'booking_request_room_fields', form: booking_request_room
      .links
        = link_to_add_association "Add Room", f, :booking_request_rooms, class: 'btn btn-primary', id: 'add_room'    

  .row.mb-2
    .col-sm-6
      =f.submit form_submit_label(model), class: 'btn btn-success'


:javascript

  function refresh_customer_list() {
    $.ajax({
      url: "#{for_client_customers_path}",
      data: {
        client_id: $('#booking_request_client_id').val()
      },
      success: function(data) {
        $('#booking_request_customer_id').html(data);
      }
    });
  }


  function refresh_user_list() {

    // Identify users for the client
    $.ajax({
      url: "#{client_users_users_path}",
      data: {
        client_id: $('#booking_request_client_id').val()
      },
      success: function(data) {

        html = '';

        $.each(data, function(item,i){
          html += "<option value='" + i.id + "'>" + i.email + "</option>";
        });

        $('#booking_request_requestor_id').html(html);
      }
    });
  }

  function handle_new_customer_visibility() {

    var customer_id_input = $('#booking_request_customer_id');

    if(customer_id_input.val() == 0){
      $('#new_customer_data').show();
    }
    else{
      $('#new_customer_data').hide()
    }
  }

  var ready = function() {
    $('#add_room').trigger('click')

    $('.datepicker').datepicker({
      dateFormat:"yy-mm-dd"
    });

    refresh_user_list();
    $('#booking_request_client_id').on('change', function(e){
      refresh_user_list();
    });


    refresh_customer_list();
    $('#booking_request_client_id').on('change', refresh_customer_list);


    handle_new_customer_visibility();
    $('#booking_request_customer_id').on('change', handle_new_customer_visibility);
  }

  $(document).ready(ready);