
.content-header
  .container-fluid
    .row.mb-2
      .col-sm-12
        - flash.each do |type, msg|
          %div.bg-danger
            #{msg}

    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark Users
      / /.col
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{href: root_path} Dashboard
          %li.breadcrumb-item.active Users

%section.content
  .container-fluid
    .row
      .col-lg-12

        %table.data-table-requests
          %thead
            %tr
              %th First
              %th Last
              %th Email
              %th Serviced Bookings
              %th

          %tbody
            - @models.each do |u|
              %tr
                %td #{u.first}
                %td #{u.last}
                %td #{u.email}
                %td #{u.serviced_bookings.count}
                %td
                  =link_to "Bookings", bookings_user_path(u), class:'btn btn-info'



:javascript

  var ready = function() {
    $('.data-table-requests').DataTable({
        pageLength: 50,
        paging: false,
        searching: false,
        sorting: true,
        info: false
    });
  }

  $(document).ready(ready);
