
.row
  .col-lg-3.col-md-2
  .col-lg-6.col-md-8

    .card
      .card-header
        %h3 Log in
      .card-body

        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

          .row
            .col-lg-12
              .field
                = f.label :email
                %br/
                = f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control'
              %br
              .field
                = f.label :password
                %br/
                = f.password_field :password, autocomplete: "current-password", class:'form-control'
              - if devise_mapping.rememberable?
                .field
                  %hr
                  = f.check_box :remember_me
                  = f.label :remember_me
              .actions
                = f.submit "Log in", class:'btn btn-success'

          .row
            .col-lg-12
              %hr
              = render "devise/shared/links"

  .col-lg-3.col-md-2