- title = local_assigns[:title].nil? ? '' : title
- should_show_breadcrumbs = local_assigns[:should_show_breadcrumbs].nil? ? true : should_show_breadcrumbs


.content-header
  .container-fluid
    .row.mb-2
      .col-sm-12
        - flash.each do |type, msg|
          - alert_class = alert_class_for_type(type)
          .flash{style:'padding-top: 15px; padding-bottom: 15px;'}
            %span.alert{class: alert_class}
              #{msg}


    .row.mb-2
      .col-sm-6
        %h1.m-0.text-dark #{title}

        - if local_assigns[:subtitle].present?
          %p.m-0.text-muted #{subtitle}

        - if local_assigns[:subsubtitle].present?
          %p.m-0.text-muted #{subsubtitle}


      - if should_show_breadcrumbs
        / /.col
        .col-sm-6
          %ol.breadcrumb.float-sm-right
            %li.breadcrumb-item
              %a{href: root_path} Dashboard
            %li.breadcrumb-item.active #{title}
%hr