
%body.hold-transition.sidebar-mini.layout-fixed
  .wrapper
    %nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
      -#%ul.navbar-nav
      -#  %li.nav-item
      -#    %a.nav-link{"data-widget" => "pushmenu", :href => "#", :role => "button"}
      -#      %i.fas.fa-bars
      -#  %li.nav-item.d-none.d-sm-inline-block
      -#    %a.nav-link{:href => "index3.html"} Home
      -#%form.form-inline.ml-3
      -#  .input-group.input-group-sm
      -#    %input.form-control.form-control-navbar{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      -#    .input-group-append
      -#      %button.btn.btn-navbar{:type => "submit"}
      -#        %i.fas.fa-search
      %ul.navbar-nav.ml-auto

        -#%li.nav-item.dropdown
          %a.nav-link{"data-toggle" => "dropdown", :href => "#"}
            %i.far.fa-comments
            %span.badge.badge-danger.navbar-badge 3

        %li.nav-item
          =link_to "Sign Out", destroy_user_session_path, class:"nav-link", method: :delete
          -#= form_with url: destroy_user_session_path, remote: false, method: :delete do |form|
            = form.submit "Sign out", class:'btn btn-default'

        %li.nav-item.dropdown
          %a.nav-link{"data-toggle" => "dropdown", :href => "#"}
            %i.fas.fa-user{style:'padding-right: 5px;'}
            %span #{current_user.try(:full_name)}
          .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
            -#%span.dropdown-item.dropdown-header 15 Notifications
            -#.dropdown-divider
            -#%a.dropdown-item{:href => "#"}
            -#  %i.fas.fa-envelope.mr-2
            -#  4 new messages
            -#  %span.float-right.text-muted.text-sm 3 mins
            -#.dropdown-divider

            -#%a.dropdown-item{href: destroy_user_session_path}
              %i.fa.fa-sign-out-alt.mr-2
              Sign Out


            =link_to destroy_user_session_path, class:"dropdown-item", method: :delete do
              %i.fa.fa-sign-out-alt.mr-2
              Sign Out
              -#%span.float-right.text-muted.text-sm 3 mins


            .dropdown-divider

        -#%li.nav-item
        -#  %a.nav-link{"data-slide" => "true", "data-widget" => "control-sidebar", :href => "#", :role => "button"}
        -#    %i.fas.fa-th-large
        -#  .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
        -#    %span.dropdown-item.dropdown-header 15 Notifications
        -#    .dropdown-divider
        -#    %a.dropdown-item{:href => "#"}
        -#      %i.fas.fa-envelope.mr-2
        -#      4 new messages
        -#      %span.float-right.text-muted.text-sm 3 mins
        -#    .dropdown-divider



    / /.navbar
    / Main Sidebar Container
    %aside.main-sidebar.sidebar-dark-primary.elevation-4
      / Brand Logo
      %a.brand-link{href: root_path, style:'padding-left: 30px;'}
        %i.nav-icon.fas.fa-clock
        -#=image_pack_tag("AdminLTELogo.png", class:'brand-image img-circle elevation-3', alt: 'AdminLTE Logo', style:'opacity: .8')
        -#%img.brand-image.img-circle.elevation-3{:alt => "AdminLTE Logo", :src => image_pack_tag("AdminLTELogo.png"), :style => "opacity: .8"}/
        %span.brand-text.font-weight-light #{current_user.try(:dashboard_header_name)}
      / Sidebar
      .sidebar
        / Sidebar Menu
        %nav.mt-2
          %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}

            -# - if current_user.can_create_booking_request?
            %li.nav-item
              %a.nav-link{href: new_booking_request_path}
                %i.nav-icon.fas.fa-plus
                %p
                  Add Booking Request

            %li.nav-item
              %a.nav-link{href: my_booking_requests_path}
                %i.nav-icon.fas.fa-list-ol
                %p
                  My Queue
                  %span.right.badge.badge-danger #{my_queue_count}

            %li.nav-item
              %a.nav-link{href: outstanding_booking_requests_path}
                %i.nav-icon.fas.fa-exclamation-triangle
                %p
                  Unassigned
                  %span.right.badge.badge-danger #{outstanding_booking_request_count(current_user.active_tenant)}

            %li.nav-item
              %a.nav-link{href: completed_bookings_path}
                %i.nav-icon.fas.fa-check
                %p
                  Booked
                  %span.right.badge.badge-success #{completed_booking_count(current_user.active_tenant)}

            %li.nav-item
              %a.nav-link{href: list_cancelled_bookings_path}
                %i.nav-icon.fas.fa-times
                %p
                  Cancelled
                  %span.right.badge.badge-warning #{cancelled_booking_count(current_user.active_tenant)}

            %li.nav-item
              %a.nav-link{href: list_no_show_bookings_path}
                %i.nav-icon.fas.fa-user-slash
                %p
                  No Show
                  %span.right.badge.badge-warning #{no_show_booking_count(current_user.active_tenant)}


            %li.nav-header #{[current_user.active_tenant.try(:name), 'ADMIN'].join(' ')}
            %li.nav-item
              %a.nav-link{href: tenant_clients_path(current_user.active_tenant)}
                %i.nav-icon.fas.fa-building
                %p
                  Clients
                  %span.right.badge.badge-info #{tenant_client_count(current_user.active_tenant)}
            %li.nav-item
              %a.nav-link{href: tenant_hotels_path(current_user.active_tenant)}
                %i.nav-icon.fas.fa-hotel
                %p
                  Hotels
                  %span.right.badge.badge-info #{tenant_hotel_count(current_user.active_tenant)}
            %li.nav-item
              %a.nav-link{href: staff_users_path}
                %i.nav-icon.fas.fa-users
                %p
                  Staff
                  %span.badge.badge-info.right #{tenant_staff_count(current_user.active_tenant)}


            %li.nav-header REPORTING
            %li.nav-item
              %a.nav-link{href: report_tenant_path(current_user.active_tenant)}
                %i.nav-icon.fas.fa-chart-bar
                %p Monthly Report



    .content-wrapper
      =yield


    %footer.main-footer
      %strong
        Copyright © 2021
        = succeed "." do
          %a{:href => "https://www.htri.net"} HTRI
      All rights reserved.
      .float-right.d-none.d-sm-inline-block
        %b Version
        1.0.0
    / Control Sidebar
    %aside.control-sidebar.control-sidebar-dark

